<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="2056KrystianKocielniak.Workout7" Publisher="CN=5FA8655F-5E26-4548-A788-9BB661754053" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Workout 7</DisplayName>
    <PublisherDisplayName>Krystian Kościelniak</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="workout7RT.App">
      <VisualElements DisplayName="Workout 7" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Simple 7-minute workout app for Windows Store" ForegroundText="light" BackgroundColor="#008000" ToastCapable="true">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>